---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/2/tweets
    body:
      encoding: UTF-8
      string: '{"text":"Test tweet from RSpec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - OAuth oauth_consumer_key="2cRsWYkmpNWZ5zPsMze6n2XPx", oauth_nonce="ebc27a6e49f6f115a4c35cc2aedf7cd1",
        oauth_signature="gyydewU%2FjUcR2wPMAbMzAZGVHrM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1759350681", oauth_token="1255917363519729669-HCDyppBiCCbkVdFvEfrQq6WuwPQEA6",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Perf:
      - '7402827104'
      Location:
      - https://api.x.com/2/tweets/1973485911011713530
      Api-Version:
      - '2.150'
      X-Access-Level:
      - read-write
      X-Transaction-Id:
      - ee82f8c229e83ff4
      X-Rate-Limit-Limit:
      - '1080000'
      X-Rate-Limit-Reset:
      - '1759351581'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '1079999'
      X-App-Limit-24hour-Limit:
      - '17'
      X-App-Limit-24hour-Reset:
      - '1759434271'
      X-User-Limit-24hour-Limit:
      - '17'
      X-User-Limit-24hour-Reset:
      - '1759434271'
      X-App-Limit-24hour-Remaining:
      - '13'
      X-User-Limit-24hour-Remaining:
      - '13'
      Origin-Cf-Ray:
      - 987eb91e4bd0647b-ATL
      X-Response-Time:
      - '119'
      X-Connection-Hash:
      - ec6afc0fe1c9bd913cda4170de6af0636e69b06341fbf9ddb586ad0737143f50
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"edit_history_tweet_ids":["1973485911011713530"],"id":"1973485911011713530","text":"Test
        tweet from RSpec"}}'
  recorded_at: Wed, 01 Oct 2025 20:31:21 GMT
recorded_with: VCR 6.3.1
